.TarjetaDeEventoDos__Container {
    display: grid;
    padding: 0 10vw;
}

.TarjetaDeEventoDos__Row {
    height: auto;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 68% 32%;
    grid-template-rows: repeat(3, min-content);
    justify-self: center;
    margin-bottom: 4rem;
    overflow: hidden;
}

.TarjetaDeEventoDos__ImgGrid {
    box-sizing: content-box;
}

.TarjetaDeEventoDos__ImgGrid > img {
    width: 90%;
}

.TarjetaDeEventoDos__SpanGrid {
    display: grid;
    place-items: center;
    row-gap: .4em;
}

.TarjetaDeEventoDos__SpanGrid > div {
    margin-top: .3em;
    color: #164ab4;
    font-size: 1.4em;
    font-weight: bolder;
}

.justify {
    text-align: justify;
    padding: 0 1em 1em 1em;
}

.TarjetaDeEventoDos__Dos {
    grid-column: 1;
    grid-row: 2;
}

.TarjetaDeEventoDos__Tres {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    align-items: center;
    justify-items: start;
}

.TarjetaDeEventoDos__Cuatro {
    grid-column: 1;
    grid-row: 3;
}

@media (max-width: 668px) {
	.TarjetaDeEventoDos__Row {
        grid-template-columns: 100%;
        align-items: center;
    }
    .TarjetaDeEventoDos__Dos {
        grid-column: initial;
        grid-row: initial;
    }
    
    .TarjetaDeEventoDos__Tres {
        grid-column: initial;
        grid-row: initial;
        justify-items: center;
    }
    
    .TarjetaDeEventoDos__Cuatro {
        grid-column: initial;
        grid-row: initial;
    }
}

@media (min-width:1296px) {
    .TarjetaDeEventoDos__Container {
        padding: 0 17vw;
    }   
}