@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.input {
    display: block;
    margin: 7px 0;
    padding: 9px 40px 9px 15px;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 5px 0px;
    font-size: 16px;
}

.formBtn {
    margin: 5px;
	padding: 10px 50px 10px 50px;
	border-style: none;
	border-radius: 7px;
	color: #fefefe;
	background-color: #444444;
    font-size: 16px;
	font-family: inherit;
}

.accordionTit {
    max-width: 100%;
    height: 3em;
    line-height: 3em;
    padding-left: 2em;
    color: #fefefe;
    background-color: #000;
}